    /*
    Flaticon icon font: Flaticon
    Creation date: 26/08/2020 08:13
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-dashboard:before { content: "\f100"; }
.flaticon-edit:before { content: "\f101"; }
.flaticon-register:before { content: "\f102"; }
.flaticon-facebook:before { content: "\f103"; }
.flaticon-apple:before { content: "\f104"; }
.flaticon-apple-1:before { content: "\f105"; }
.flaticon-facebook-1:before { content: "\f106"; }
    
    $font-Flaticon-dashboard: "\f100";
    $font-Flaticon-edit: "\f101";
    $font-Flaticon-register: "\f102";
    $font-Flaticon-facebook: "\f103";
    $font-Flaticon-apple: "\f104";
    $font-Flaticon-apple-1: "\f105";
    $font-Flaticon-facebook-1: "\f106";