$default-color:#707070;
$defaultHeadingColor:#262626;
$black:#000;
$white:#fff;
$font-size14:14px;
$fontSize16:16px;
$font-sansProRegular:SansPro-Regular;
$font-sansProBold:SansPro-Bold;
$primary-color: #24AA79;
$primary-light-color:#30DB9F;
$primary-dark-color:#009900;
$secondary-color: #616060;
$secondary-light-color: #707070;
$secondary-dark-color: #323232;
$secondary-light-dark:#101010BF;
$bg-facebook:#3b5998;
$light-gray:#eee;
$yellow:#FFFF52;
$red-light:#FF5B52;
$orange-light:#FFCB52;

$red:#f44336;
$blue:#0288d1;
$theme-border-color: rgba(0, 0, 0, 0.10);






$desktop1920: "screen and (min-width:1920px)";
$desktop1200: "screen and (max-width:1200px)";
$ipad1024: "screen and (max-width:1024px)";
$mob896: "screen and (max-width:896px)";
$mob846: "screen and (max-width:846px)";
$mob812: "screen and (max-width:812px)";
$ipad768: "screen and (max-width:768px)";
$mob740: "screen and (max-width:740px)";
$mob736: "screen and (max-width:736px)";
$mob667: "screen and (max-width:667px)";
$mob568: "screen and (max-width:568px)";
$mob480: "screen and (max-width:480px)";
$mob414: "screen and (max-width:414px)";
$mob375: "screen and (max-width:375px)";
$mob320: "screen and (max-width:320px)";
