	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/08/2020 08:13
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon; font-style: normal; 
}

.flaticon-dashboard:before { content: "\f100"; }
.flaticon-edit:before { content: "\f101"; }
.flaticon-register:before { content: "\f102"; }
.flaticon-facebook:before { content: "\f103"; }
.flaticon-apple:before { content: "\f104"; }
.flaticon-apple-1:before { content: "\f105"; }
.flaticon-facebook-1:before { content: "\f106"; }