@import './style/varibale';

body{ background: $light-gray !important; margin: 0px; padding: 0px; font-size: 15px; overflow-x: hidden;}
button{
    &:focus{outline: none !important;}
}
.mt-100{margin-top: 100px !important;}
.left-0{left: 0px !important;}
.z-index-10{z-index: 10 !important;}
.MuiButton-containedPrimary{background: $primary-color !important;}
.side-nav{position: fixed; left: 0; width: 240px; height: 100%; background: $white; box-shadow: 0 2px 2px rgba($black, $alpha: 0.3); top: 0; bottom: 0; z-index: 10; 
    .brand-logo{ padding:0px 5px; width: 100%; height: 64px; line-height: 64px; background-color: $primary-color;
        a{color: $white; font-size: 30px; display: block; text-align: center; text-transform: capitalize;
            &:hover{text-decoration: none;}
        } 
    }
    .main-nav{position: relative; margin-top: 30px;
        .nav-item{
            .nav-link{ color: $secondary-color; padding: .8rem 2rem; text-transform: capitalize; text-decoration: none;
                &.active{background-color: $primary-color; color: $white;}
                span{width: 30px; float: left;}
            }
        }        
    }
}
.main-page{position: relative; margin-left: 250px; z-index: 8;}
.header{background: $primary-color;
    &.open{right: 0 !important; left: 240px !important; width: auto !important;}
    &.MuiAppBar-colorPrimary{background-color: $primary-color;}
}
.line-chart svg g g circle{stroke:$blue; stroke-width: 6px; fill: $blue;}
.registration{position: relative;
    padding-bottom: 10px;
}
.progressbar{position: relative;
    .MuiLinearProgress-root{height: 7px;}
    .MuiLinearProgress-barColorPrimary{background:$red;}
    .MuiLinearProgress-colorPrimary{background: $light-gray;}
    &.bg-blue{
        .MuiLinearProgress-barColorPrimary{background:$blue;}
    }
    &.bg-warning{
        .MuiLinearProgress-barColorPrimary{background:$secondary-light-color;}
    }
    &.bg-primary-light{
        .MuiLinearProgress-barColorPrimary{background:$primary-light-color;}
    }

}
.recent-activity-list{position: relative; margin: 0px; padding: 0px; margin-top: 15px;
    li{list-style: none; padding-bottom: 10px; font-size: 14px; display: block;
        .title{font-size: 18px; display: flex; justify-content: space-between; 
            span{font-size: 14px;}
        }
        p{margin: 0px;}
    }
}

.bg-login{position: fixed; left: 0; top: 0; right: 0; bottom: 0; background-image:url("./images/bg-login.png"); background-repeat: no-repeat; background-size: cover; background-position: center; height: 100%;
    &::before{content: ""; background: $black; opacity: 0.4; position: fixed; left: 0; right: 0; top: 0; bottom: 0;}
}
.btn-google-pay{position: relative; border-radius: 6px !important; line-height: 18px !important;
    &.MuiButton-containedSecondary{background: $black; text-transform: capitalize !important;
        &:hover{background: $secondary-light-dark !important;}
    }
    img{max-width: 45px;}
    .text{font-size: 20px;
        small{font-size: 12px;}
    }
}
.login-page{height: 100%;
    .login-left{display: flex; align-items: center; justify-content: center; height: 100vh; flex-direction: column; color: $white;
        h2{font-size: 50px; text-transform: capitalize;}
        h3{font-size: 30px; text-transform: capitalize;}
    }
}
.login-right{position: relative; background: $white; padding: 50px; display: flex; flex-direction: column; justify-content: center; height: 80vh; transform: translate(0, 10vh);
    .sigin-or{position: relative; background-color: $white; text-align: center; overflow: hidden; text-transform: uppercase; margin-top: 40px;
       &::after, &::before{content: ""; background-color: rgba($black, $alpha: 0.1); display: inline-block; position: relative; height: 1px; width: 50%; transform: translate(0px, -3px );}
       &::before{ right: 5px; margin-left: -50%;}
       &::after{left: 5px; margin-right: -50%; }
    }
    .login-third-party{position: relative; margin: 0px; padding: 0px; padding-top: 50px;
        li{list-style: none; display: block; text-align: center; text-transform: capitalize !important;  color: $white; margin-bottom: 20px;
            button{ width: 100%; padding: 15px 10px; border-radius: 40px; text-transform: capitalize !important; 
                &::before{content: ""; font-family: "Flaticon"; position: relative; padding-right: 10px;}
            }
            &:first-child{ background: $white;
                button{
                    &::before{background-image: url(../src/images/google.png); background-repeat: no-repeat; background-size: contain; width: 100%; max-width: 20px; height: 20px; margin-right: 10px;}
                }
            }
            &:nth-child(n+2){ 
               button{ background: $bg-facebook; color: $white;
                &::before{content: "\f106"; }
               }
               
            }
            &:nth-child(n+3){ color: $white;
                button{background: $black;
                    &::before{content: "\f104";}
                }
                
            }
        }
    }
}
.customForm{
    .MuiFormLabel-root{
        &.Mui-focused{
            color: $default-color !important
        }
    }
    .MuiInput-underline:after{border-bottom-color: $primary-color;}
}