body {
  background: #eee !important;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  overflow-x: hidden;
}

button:focus {
  outline: none !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.left-0 {
  left: 0px !important;
}

.z-index-10 {
  z-index: 10 !important;
}

.MuiButton-containedPrimary {
  background: #24AA79 !important;
}

.side-nav {
  position: fixed;
  left: 0;
  width: 240px;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  z-index: 10;
}

.side-nav .brand-logo {
  padding: 0px 5px;
  width: 100%;
  height: 64px;
  line-height: 64px;
  background-color: #24AA79;
}

.side-nav .brand-logo a {
  color: #fff;
  font-size: 30px;
  display: block;
  text-align: center;
  text-transform: capitalize;
}

.side-nav .brand-logo a:hover {
  text-decoration: none;
}

.side-nav .main-nav {
  position: relative;
  margin-top: 30px;
}

.side-nav .main-nav .nav-item .nav-link {
  color: #616060;
  padding: .8rem 2rem;
  text-transform: capitalize;
  text-decoration: none;
}

.side-nav .main-nav .nav-item .nav-link.active {
  background-color: #24AA79;
  color: #fff;
}

.side-nav .main-nav .nav-item .nav-link span {
  width: 30px;
  float: left;
}

.main-page {
  position: relative;
  margin-left: 250px;
  z-index: 8;
}

.header {
  background: #24AA79;
}

.header.open {
  right: 0 !important;
  left: 240px !important;
  width: auto !important;
}

.header.MuiAppBar-colorPrimary {
  background-color: #24AA79;
}

.line-chart svg g g circle {
  stroke: #0288d1;
  stroke-width: 6px;
  fill: #0288d1;
}

.registration {
  position: relative;
  padding-bottom: 10px;
}

.progressbar {
  position: relative;
}

.progressbar .MuiLinearProgress-root {
  height: 7px;
}

.progressbar .MuiLinearProgress-barColorPrimary {
  background: #f44336;
}

.progressbar .MuiLinearProgress-colorPrimary {
  background: #eee;
}

.progressbar.bg-blue .MuiLinearProgress-barColorPrimary {
  background: #0288d1;
}

.progressbar.bg-warning .MuiLinearProgress-barColorPrimary {
  background: #707070;
}

.progressbar.bg-primary-light .MuiLinearProgress-barColorPrimary {
  background: #30DB9F;
}

.recent-activity-list {
  position: relative;
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
}

.recent-activity-list li {
  list-style: none;
  padding-bottom: 10px;
  font-size: 14px;
  display: block;
}

.recent-activity-list li .title {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-activity-list li .title span {
  font-size: 14px;
}

.recent-activity-list li p {
  margin: 0px;
}

.bg-login {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url("./images/bg-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.bg-login::before {
  content: "";
  background: #000;
  opacity: 0.4;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.btn-google-pay {
  position: relative;
  border-radius: 6px !important;
  line-height: 18px !important;
}

.btn-google-pay.MuiButton-containedSecondary {
  background: #000;
  text-transform: capitalize !important;
}

.btn-google-pay.MuiButton-containedSecondary:hover {
  background: #101010BF !important;
}

.btn-google-pay img {
  max-width: 45px;
}

.btn-google-pay .text {
  font-size: 20px;
}

.btn-google-pay .text small {
  font-size: 12px;
}

.login-page {
  height: 100%;
}

.login-page .login-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.login-page .login-left h2 {
  font-size: 50px;
  text-transform: capitalize;
}

.login-page .login-left h3 {
  font-size: 30px;
  text-transform: capitalize;
}

.login-right {
  position: relative;
  background: #fff;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  -webkit-transform: translate(0, 10vh);
          transform: translate(0, 10vh);
}

.login-right .sigin-or {
  position: relative;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
  margin-top: 40px;
}

.login-right .sigin-or::after, .login-right .sigin-or::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  height: 1px;
  width: 50%;
  -webkit-transform: translate(0px, -3px);
          transform: translate(0px, -3px);
}

.login-right .sigin-or::before {
  right: 5px;
  margin-left: -50%;
}

.login-right .sigin-or::after {
  left: 5px;
  margin-right: -50%;
}

.login-right .login-third-party {
  position: relative;
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
}

.login-right .login-third-party li {
  list-style: none;
  display: block;
  text-align: center;
  text-transform: capitalize !important;
  color: #fff;
  margin-bottom: 20px;
}

.login-right .login-third-party li button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 40px;
  text-transform: capitalize !important;
}

.login-right .login-third-party li button::before {
  content: "";
  font-family: "Flaticon";
  position: relative;
  padding-right: 10px;
}

.login-right .login-third-party li:first-child {
  background: #fff;
}

.login-right .login-third-party li:first-child button::before {
  background-image: url(../src/images/google.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 20px;
  height: 20px;
  margin-right: 10px;
}

.login-right .login-third-party li:nth-child(n+2) button {
  background: #3b5998;
  color: #fff;
}

.login-right .login-third-party li:nth-child(n+2) button::before {
  content: "\f106";
}

.login-right .login-third-party li:nth-child(n+3) {
  color: #fff;
}

.login-right .login-third-party li:nth-child(n+3) button {
  background: #000;
}

.login-right .login-third-party li:nth-child(n+3) button::before {
  content: "\f104";
}

.customForm .MuiFormLabel-root.Mui-focused {
  color: #707070 !important;
}

.customForm .MuiInput-underline:after {
  border-bottom-color: #24AA79;
}
/*# sourceMappingURL=index.css.map */